.center-elements {
    display: flex;
    justify-content: center;
    align-items: center;
}

.rounded {
    border-radius: 50%;
}

.face-shape {
    display: flex;
    flex-direction: column;
    height: 75%;
    width: 25%;
}

.face-shape .half-face {
    height: 50%;
    width: 100%;
}

.face-shape .half-face .mouth {
    height: 50%;
    width: 50%;
    margin-bottom: 10%;
    border-radius: 45%;
    background-color: brown;
}

.face-shape .half-face .sclera {
    height: 50%;
    width: 25%;
    position: relative;
    border-radius: 50%;
    margin: 10% 5% 0 5%;
    background-color: honeydew;
}

.face-shape .half-face .sclera .pupil {
    height: 0.8vh;
    width: 0.8vh;
    background-color: #111111;
    display: block;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}