.game-field {
    position: relative;
    height: 90%;
    width: 100%;
}

.game-field-row {
    display: flex;
    width: 100%;
}

.game-field-row div {
    display: flex;
}

.game-field-cell {
    width: 100%;
    height: 100%;
    padding: 0;
    border: solid 1px gray;
}