.bomberman {
  .field {
    width: 100%;
    height: 90%;
    background-color: #252533;
    display: flex;
    flex-direction: column;
    overflow: auto;

    .field-row {
      display: flex;
    }
  }
}